name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
    - name: Create dot env file
      run: |
        touch .env
        echo "HOGE=${{ secrets.HOGE }}" >> .env
        cat .env
        ls -la

  deploy:
  if: github.ref == 'refs/heads/main'
  needs: [build]
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v2
    - name: Deploy
      env:
        PRIVATEKEY: ${{ secrets.PRIVATE_KEY }}
        USER_NAME: ${{ secrets.USER_NAME }}
        HOST_NAME: ${{ secrets.HOST_NAME }}
      run: |
        echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
        ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOST_NAME} 'cd /var/www/aws-laravel/ && git pull origin main'